@use "../base/variables" as v;
@use "../base//mixins" as m;

main {
    margin: 10rem 2.75rem 0 2.75rem;
    min-height: 100vh;
    @include m.tablet {
        margin: 14.5rem 2.75rem 0 2.75rem;
    }
    @include m.desktop {
        margin: 7.5rem 2.75rem 0 2.75rem;
    }
}
